:root {
    --mdc-theme-primary: #3f51b5;
    --mdc-theme-secondary: #f44336;
    --mdc-theme-on-primary: #ffffff;
    --mdc-theme-on-secondary: #ffffff;
}

html {
    overflow: hidden;
}

body {
    background-image: url("assets/snowcap.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.main__content {
    padding: 8px;
}

.main__footer {
    height: 48px;
    background-color: rgba(0, 0, 0, 0.75);
    bottom: 0;
    position: absolute;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
}

.main__footer>* {
    float: right;
}

.pinned {
    float: left;
}

.drawer__title {
    padding-left: 6px;
}

.footer__time {
    font-size: 1.5rem;
    margin-top: 12px;
    color: white;
}

.drawer__app {
    display: flex;
    align-items: center;
}

.header__row {
    -webkit-app-region: drag;
    -webkit-user-select: none;
}

.header__item {
    -webkit-app-region: no-drag;
}

.main__progress {
    position: absolute;
    bottom: 0;
}

.app__container {
    position: absolute;
}

.app__drawer {
    z-index: 6;
}

.drawer__user {
    display: contents;
}

.app__header {
    z-index: 0;
}
