:root {
    --mdc-theme-primary: #3f51b5;
    --mdc-theme-secondary: #f44336;
}

html {
    overflow: hidden;
}

body {
    background-image: url("assets/Afloat.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.main__content {
    padding: 8px;
}

.main__footer {
    height: 48px;
    background-color: rgba(0, 0, 0, 0.75);
    bottom: 0;
    position: fixed;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
}
.main__footer > * {
    float: right;
}

.mdc-top-app-bar__title {
    user-select: none;
}

.pinned {
    float: left;
}

.drawer__title {
    padding-left: 6px;
}

.footer__time {
    font-size: 1.5rem;
    margin-top: 12px;
    color: white;
}

.drawer__app {
    display: flex;
    align-items: center;
}

.header__row {
    -webkit-app-region: drag;
    -webkit-user-select: none;
}

.header__item {
    -webkit-app-region: no-drag;
}

.main__progress {
    position: absolute;
    bottom: 0;
}

.app__container {
    position: absolute;
}

.app__drawer {
    z-index: 6;
}

.drawer__user {
    display: contents;
}

.app__header {
    z-index: 0;
    position: absolute;
    top: 0;
}

.app {
    height: 100vh;
}

.main__content {
    height: 100%;
}

iframe {
    background-color: white;
}

app-window {
    position: absolute;
}

::-webkit-scrollbar {
    border-radius: 100px;
    background-color: transparent;
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-button {
    height: 0;
    width: 0;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-color: rgba(0, 0, 0, 0.2);
    min-height: 28px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.4);
}
::-webkit-scrollbar-thumb:active {
    background-color: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-track {
    background-clip: padding-box;
    border-width: 0 0 0 4px;
}
